[class*="text-"] {
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
    line-height: 1.3em;
}

.text-xs {
    font-size: 14px;
}

.text-sm {
    font-size: 18px;
}

.text-md {
    font-size: 22px;
}

.text-lg {
    font-size: 26px;
}

.text-xl {
    font-size: 32px;
}

.text-center {
    text-align: center;
}

.text-red {
    color: $red;
}

.text-green {
    color: $green;
}